<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">

      <!-- TODO: Crear imagen del gif -->


      <div class="card-body text-white">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur rerum repellat optio blanditiis, voluptas illo incidunt facere ipsam laudantium beatae veritatis, placeat dicta at consequatur cum deserunt! Fugit, libero voluptas?
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">

      <!-- TODO: Crear imagen del gif -->


      <div class="card-body text-white">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur rerum repellat optio blanditiis, voluptas illo incidunt facere ipsam laudantium beatae veritatis, placeat dicta at consequatur cum deserunt! Fugit, libero voluptas?
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">

      <!-- TODO: Crear imagen del gif -->


      <div class="card-body text-white">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur rerum repellat optio blanditiis, voluptas illo incidunt facere ipsam laudantium beatae veritatis, placeat dicta at consequatur cum deserunt! Fugit, libero voluptas?
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">

      <!-- TODO: Crear imagen del gif -->


      <div class="card-body text-white">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur rerum repellat optio blanditiis, voluptas illo incidunt facere ipsam laudantium beatae veritatis, placeat dicta at consequatur cum deserunt! Fugit, libero voluptas?
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">

      <!-- TODO: Crear imagen del gif -->


      <div class="card-body text-white">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur rerum repellat optio blanditiis, voluptas illo incidunt facere ipsam laudantium beatae veritatis, placeat dicta at consequatur cum deserunt! Fugit, libero voluptas?
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">

      <!-- TODO: Crear imagen del gif -->


      <div class="card-body text-white">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur rerum repellat optio blanditiis, voluptas illo incidunt facere ipsam laudantium beatae veritatis, placeat dicta at consequatur cum deserunt! Fugit, libero voluptas?
        </p>
      </div>
    </div>
  </div>

</div>
